pre.pitak
    font-family: Console, Monospaced, monospace
    background-color: #2B2B2B
    color: #EEEEEC
    font-size: 16px
    line-height: 22.5px
    padding: 20px
    font-weight: 200
    pre.pitak code .keyword
        color: #CC7833
    code .string
        color: #6A8759
    code .comment
        color: #8AE234
    code .function
        color: #FFC66D
    code .path
        color: #739FCF
    code .warning
        color: #EF2929
    code .root-host
        color: #CC0000
    code .user-host
        color: #8AE234
