footer: .container
    p.
        This work by #[a(xmlns:cc='http://creativecommons.org/ns#', href='http://pitak.net', property='cc:attributionName', rel='cc:attributionURL') Roman Piták] is licensed under
        a #[a(rel='license', target='blank', href='http://creativecommons.org/licenses/by/4.0/') Creative Commons Attribution 4.0 International License].
    p.
        #[a(href='https://github.com/romanpitak/pitak.net' target='_blank') Sources available on GitHub.]
