doctype html
html(lang="en")
    head
        meta(http-equiv='content-type', content='text/html', charset='UTF-8')
        block title
            title: != title
        block gNoTranslate
            meta(name='google', content='notranslate')
        block author
            meta(name='author', content='Roman Piták')
        link(rel='stylesheet', href='/main.css')
        link(rel='shortcut icon' href='/logo/32x32.png')
    body
        #wrap
            header: .container: a(href='/', title='Home')
                img(src='/logo/47x32.png', style='display: inline; margin-bottom: 0;')
            
            .container.content
                block containerContent
                    span
            include ./_footer.jade

        include ./_sidebar.jade

        script(src='/main.js')
