form
    label#sidebar-toggle
        input(type='checkbox')

nav#sidebar
    header Roman Piták
    a(href='/') Home
    a(href='/blog') Blog
    a(href='/about') About
    footer &copy; 2015. All rights reserved.
