---
template: post
title: |
    Volume control with a&nbsp;non-multimedia keyboard 
    on&nbsp;linux&nbsp;Mint&nbsp;17&nbsp;Xfce
url: "/blog/2014/11/27/volume-control-keyboard-shortcuts"
author: "Roman Piták"
published: 2014-11-27
last_modified: 2015-01-20
tags: code linux
perex: |
    I&nbsp;used to&nbsp;have a&nbsp;nice multimedia keyboard with all 
    the&nbsp;fancy volume buttons and&nbsp;even a&nbsp;calculator button. 
    I never even noticed them being there until it&nbsp;grew too nasty to look 
    at and&nbsp;I&nbsp;had to have it incinerated and I&nbsp;bought 
    a&nbsp;new&nbsp;one. A&nbsp;normal, cheapish, office-grade keyboard. 
    It&nbsp;dawned on&nbsp;me soon after. I'll have to&nbsp;change 
    the&nbsp;volume by&nbsp;clicking on&nbsp;the&nbsp;tray icon 
    and&nbsp;scrolling like a&nbsp;peasant in&nbsp;the&nbsp;middle ages. 
    I&nbsp;decided to&nbsp;deal with it and&nbsp;soon found a&nbsp;viable 
    solution
---
p.
    I&nbsp;used to&nbsp;have a&nbsp;nice multimedia keyboard with all 
    the&nbsp;fancy volume buttons and&nbsp;even a&nbsp;calculator button. 
    I never even noticed them being there until it&nbsp;grew too nasty to look 
    at and&nbsp;I&nbsp;had to have it incinerated and I&nbsp;bought 
    a&nbsp;new&nbsp;one. A&nbsp;normal, cheapish, office-grade keyboard. 
    It&nbsp;dawned on&nbsp;me soon after. I'll have to&nbsp;change 
    the&nbsp;volume by&nbsp;clicking on&nbsp;the&nbsp;tray icon 
    and&nbsp;scrolling like a&nbsp;peasant in&nbsp;the&nbsp;middle ages. 
    I&nbsp;decided to&nbsp;deal with it and&nbsp;soon found a&nbsp;viable 
    solution
p.
    Run the Keyboard settings for Xfce
:markdown
    ```bash
    xfce4-keyboard-settings
    ```
p.
    and add two new shortcuts for the following commands:
:markdown
    ```bash
    amixer set Master 5%+
    amixer set Master 5%-
    ```
p.
    You can map it to&nbsp;any&nbsp;free shortcuts you have lying around. 
    I mapped it to #[strong Alt]+#[strong *] and&nbsp;#[strong Alt]+#[strong /]
    inspired by the standard mplayer volume shortcuts the first time I was 
    doing it. 
p.
    I later discovered this to be quite impractical with all the having to put 
    the pizza down to fiddle with the volume, but I was so used to it at that 
    point  that I never got around to changing it.
    Even when setting it up on other computers later on, I still mapped it 
    to the same impractical shortcuts and I still have to put my pizza down. 
h2 Update 2015-01
p.
    I could no longer put up with putting down the pizza and remapped the sound
     on all my computers to #[strong Ctrl]+#[strong *] 
     and&nbsp;#[strong Ctrl]+#[strong /] so that I can reach it with one hand. 
