---
template: post
title:  "The $15 standing desk"
url: "/blog/2015/02/24/standing-desk"
author: "Roman Piták"
last_modified_at: 2014-02-24
perex: |
    It's been years since I started sitting for money
    (and occasionally programming)
    and It's not doing my body any good.
    Inspired by some of my friends 
    and in an attempt to continue my healthy existence
    I built myself a standing desk
---
p.
    It's been years since I started sitting for money
    (and occasionally programming)
    and It's not doing my body any good.
    Inspired by some of my friends 
    and in an attempt to continue my healthy existence
    I built myself a standing desk.
    The final push came from the article about
    #[a(href='http://opensoul.org/2012/01/09/the-40-standup-desk/', target='_blank') The $40 Standup Desk]
    by Brandon Keepers.
p.
    Being a cheap (but handy) bastard I went for a DYI solution.
    After reading a bit on the optimal height
    I raised my old corner desk
    and fixed it up with some beam brackets
    in the corners.
h2 The desk
p: img(src='../desk720.jpg', alt='Standing desk')
p.
    Not including the table top which I already had,
    it all cost me less then $15.
    It took me, from start to finish including cleanup,
    about 10 hours to set up.
    I only found one drawback so far.
    Since the desk is quire large
    (120x120 cm without one corner)
    it bends a bit when I lean against it.
    The board may need reinforcing in the future.
p.
    I would definitely encourage everyone
    to build their own standing desk.
    For a wall mounted solution, you only need
    a few beam brackets, screws and fasteners,
    and some basic household skills.
    If you opt for other solutions
    (longer legs, platform on top of a standard table),
    the cost may increase,
    but the construction will be easier.
p.
    Lots of instructions are already on the web,
    so there's no point repeating them.
    You can easily find them. 
h2 The computer
p: img(src='../under720.jpg', alt='Underside of the desk')
p.
    In case you were wondering what the blue box under the table was, it's my PC.
    Nothing fancy in a fruit box, but it's a working computer.
    Out of sight and off the ground, it's a fast and cheap PC case.
