---
template: page
title: "About Roman Piták"
url: "/about"
---
article
    h1 About me
    :markdown
        I&nbsp;enjoy four spaces per&nbsp;tab on&nbsp;properly
        formatted **source**s and&nbsp;online **documentation**;
        the&nbsp;internet, GitHub,
        **Linux** Mint Xfce; crisp shirts; **canoeing**, hiking;
        **coffee**(script), cafes, tee, movies;
        Google; YouTube, **learning** new things,
        writing, pencils, reading; Deep Purple and much more.

        I've written **php**, **html**, (pl/)?**sql** and (k|ba)**sh**,
        (Coffee|Java)Script, awk and&nbsp;/regexp?/ for&nbsp;money.
    hr
    h2 Contact
    p.
        #[a(href='mailto:roman@pitak.net') roman@pitak.net]
    p.
        +420 776 592 138
    p.
        #[a(href='https://github.com/romanpitak', target='_blank') GitHub] /
        #[a(href='https://twitter.com/RomanPitak', target='_blank') Twitter] /
        #[a(href='http://linkedin.com/in/pitak/', target='_blank') LinkedIn] /
        #[a(href='https://keybase.io/romanpitak', target='_blank') Keybase]
    hr
    h2 About this page
    p.
        Written in&nbsp;the&nbsp;#[a(href='http://jade-lang.com', target='_blank') jade template engine]
        with&nbsp;#[a(href='http://sass-lang.com/', target='_blank') Sass]
        and&nbsp;#[a(href='http://coffeescript.org/#literate', target='_blank') literate CoffeScript].
        The&nbsp;design is based on&nbsp;the&nbsp;#[a(href='http://lanyon.getpoole.com/', target='_blank') Lanyon]
        theme for&nbsp;#[a(href='http://jekyllrb.com/', target='_blank') Jekyll]
        , but rewritten from scratch in Sass.  The blog builder runs
        in&nbsp;#[a(href='http://nodejs.org/', target='_blank') Node.js]
        and&nbsp;the&nbsp;whole page is put together
        by&nbsp;the&nbsp;#[a(href='http://www.gnu.org/software/make/', target='_blank') GNU Make].
    p.
        The whole page is&nbsp;more or&nbsp;less an&nbsp;excercise
        in&nbsp;front&nbsp;end development since I&nbsp;am mainly
        a&nbsp;back&nbsp;end guy.
