---
template: page
title: "Roman Piták - Home Page"
url: ""
---
.highlight.intro.
    <pre><span class="cp">&lt;?php</span>

    <span class="k">namespace</span> <span class="nx">Piták\Roman</span><span class="p">;</span>

    <span class="k">use</span> <span class="nx">#[a(href='/blog') Blog]</span><span class="p">,</span> <span class="nx">#[a(href='/about') About]</span><span class="p">;</span>

    <span class="k">class</span> <span class="nc">Me</span> <span class="k">extends</span> <span class="nx">Programmer</span> 
    <span class="p">{</span>
        <span class="sd">/** @var string */</span>
        <span class="k">protected</span> <span class="nv">$email</span> <span class="o">=</span> <span class="s1">'#[a(href='mailto:roman@pitak.net') roman@pitak.net]'</span><span class="p">;</span>

        <span class="sd">/**</span>
    <span class="sd">     * Opens a new browser tab with #[a(href='https://github.com/romanpitak', target='_blank') my GitHub profile].</span>
    <span class="sd">     */</span>
        <span class="k">public</span> <span class="k">function</span> <span class="nf">#[a(href='https://github.com/romanpitak', target='_blank') redirectToGitHub]</span><span class="p">()</span>
        <span class="p">{</span>
            <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">redirect</span><span class="p">(</span><span class="s1">'#[a(href='https://github.com/romanpitak', target='_blank') https&colon;&sol;&sol;github.com/romanpitak]'</span><span class="p">);</span>
        <span class="p">}</span>
    <span class="p">}</span></pre>
